WebForms/Connected Services/ClienteServiceReference/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceHost" />
      <xsd:import schemaLocation="http://localhost:52801/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebForm.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_RetornaClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaClientes" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RetornaClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RetornaClientePor_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaClientePor" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RetornaClientePor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaClientePorResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AdicionaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionaCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AdicionaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AtualizaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_AtualizaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ExcluiClientePor_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluiClientePor" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ExcluiClientePor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluiClientePorResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="RetornaClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/RetornaClientes" message="tns:IClienteService_RetornaClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/RetornaClientesResponse" message="tns:IClienteService_RetornaClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornaClientePor">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/RetornaClientePor" message="tns:IClienteService_RetornaClientePor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/RetornaClientePorResponse" message="tns:IClienteService_RetornaClientePor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/AdicionaCliente" message="tns:IClienteService_AdicionaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/AdicionaClienteResponse" message="tns:IClienteService_AdicionaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/AtualizaCliente" message="tns:IClienteService_AtualizaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/AtualizaClienteResponse" message="tns:IClienteService_AtualizaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluiClientePor">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ExcluiClientePor" message="tns:IClienteService_ExcluiClientePor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ExcluiClientePorResponse" message="tns:IClienteService_ExcluiClientePor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaClientes">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RetornaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaClientePor">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RetornaClientePor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionaCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/AdicionaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/AtualizaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluiClientePor">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ExcluiClientePor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:52801/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>